:root {
  --main-color: #338996;
  --translucent-main-color: rgba(51, 137, 150, 0.15);
}
html {
  height: 100%;
}
/* INDEX */
.index-body {
  background-image: url("../img/lines-of-code.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.navbar {
  background-color: var(--main-color);
}
.centered {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 7%;
}
h1 {
  color: var(--main-color);
  text-align: center;
  font-size: 53px;
}
h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
.btn {
  background-color: var(--translucent-main-color);
  border: 1px solid var(--main-color);
  color: #fff;
  font-size: 15px;
  width: 115px;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  color: var(--main-color);
  background-color: var(--translucent-main-color);
  border: 1px solid var(--main-color);
}
/* ABOUT */
.about-wrapper {
  padding: 15px;
}
.tex-ali-cen {
  text-align: center;
}
.mar-tb-15 {
  margin: 15px 0;
}
.col-2 {
  margin: 0 5%;
}
.col-2 img {
  margin: 0 auto;
  display: block;
}
.col-2 h4 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.col-2 p {
  font-size: 10px;
  text-align: center;
}
.faux-link {
  color: var(--main-color);
  text-decoration: underline;
}
.faux-link:hover {
  cursor: pointer;
}
/* WORK */
.work-wrapper {
  padding: 15px;
}
.work-wrapper .col-sm-6 {
  padding: 10px;
}
.work-wrapper img {
  width: 100%;
}
.app-description {
  margin-top: 15px;
}
/* CONTACT */
.contact-wrapper p {
  text-align: center;
}
.contact-wrapper a {
  color: var(--main-color);
}
@media (max-width: 576px) {
  .centered {
    left: 20%;
  }
  .about-wrapper .col-sm-6 {
    text-align: center;
    margin: 5px 0;
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 91px;
  }
  h3 {
    font-size: 35px;
  }
  .btn {
    font-size: 25px;
    width: 190px;
  }
  .work-wrapper img {
    width: 75%;
  }
  .app-description {
    text-align: center;
    margin-top: 50px;
  }
}
