:root {
  --main-color: #338996;
  --translucent-main-color: rgba(51, 137, 150, 0.15);
}
html {
  height: 100%;
}
/* INDEX */
.index-body {
  background-image: url("../img/lines-of-code.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.about-wrapper {
  padding: 10px;
}
.navbar {
  background-color: var(--main-color);
}
.centered {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 7%;
}
h1 {
  color: var(--main-color);
  text-align: center;
  font-size: 53px;
}
h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
}
.btn {
  background-color: var(--translucent-main-color);
  border: 1px solid var(--main-color);
  color: #fff;
  font-size: 15px;
  width: 115px;
  display: block;
  margin: 0 auto;
}
.btn:hover {
  color: var(--main-color);
  background-color: var(--translucent-main-color);
  border: 1px solid var(--main-color);
}
/* ABOUT */
.about-wrapper {
  padding: 15px;
}
.tex-ali-center {
  text-align: center;
}
.mar-top-15 {
  margin-top: 15;
}
@media (min-width: 992px) {
  h1 {
    font-size: 91px;
  }
  h3 {
    font-size: 35px;
  }
  .btn {
    font-size: 25px;
    width: 190px;
  }
}
@media (max-width: 576px) {
  .centered {
    left: 20%;
  }
}
